<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.dm76_5ConnectionString" connectionString="Data Source=balder.ucn.dk;Initial Catalog=dm76_5;Persist Security Info=True;User ID=DM76_5;Password=MaaGodt"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>